@import "tailwindcss";

body {
  font-family: 'Outfit';
}

html {
  scroll-behavior: smooth;
}


/* Custom Scrollbar for the Main Content */
.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.custom-touch-scroll {
    -webkit-overflow-scrolling: touch; /* Makes scrolling smooth on iOS */
}